.navbar{

    width: 15%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .logo{
        width: 100px;
        height: 100px;
    }

    .appName{
        font-size: 2rem;
        color: purple;
    }

    ul{
        list-style: none;
    }

    li{
        color: white;
    }



}