.navbar{

    .logo{
        width: 200px;
        height: 200px;
    }

    .appName{
        font-size: 2rem;
        color: purple;
    }

    ul{
        list-style: none;
    }

    li{
        color: white;
    }

}